{% extends 'base.html.twig' %}

{% block title %}Modification d'un utilisateur{% endblock %}


{% block body%}

    <div class="container">

        <h2 class="mt-4 d-flex justify-content-center">Modification d'un utilisateur</h2>

        {{ form_start(form) }}
            <div class="form-error">
                {{ form_errors(form) }}
            </div>

            <div class="form-group">
                {{ form_label(form.util_email) }}
                {{ form_widget(form.util_email) }}
                <div class="form-error">
                    {{ form_errors(form.util_email) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.util_password) }}
                {{ form_widget(form.util_password) }}
                <div class="form-error">
                    {{ form_errors(form.util_password) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.util_nom) }}
                {{ form_widget(form.util_nom) }}
                <div class="form-error">
                    {{ form_errors(form.util_nom) }}
                </div>
            </div>


            <div class="form-group">
                {{ form_label(form.util_prenom) }}
                {{ form_widget(form.util_prenom) }}
                <div class="form-error">
                    {{ form_errors(form.util_prenom) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.util_telephone) }}
                {{ form_widget(form.util_telephone) }}
                <div class="form-error">
                    {{ form_errors(form.util_telephone) }}
                </div>
            </div>


            <div class="form-group">
                {{ form_label(form.util_adresse) }}
                {{ form_widget(form.util_adresse) }}
                <div class="form-error">
                    {{ form_errors(form.util_adresse) }}
                </div>
            </div>


            <div class="form-group">
                {{ form_label(form.util_cp) }}
                {{ form_widget(form.util_cp) }}
                <div class="form-error">
                    {{ form_errors(form.util_cp) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.util_ville) }}
                {{ form_widget(form.util_ville) }}
                <div class="form-error">
                    {{ form_errors(form.util_ville) }}
                </div>
            </div>

            <div class="form-group d-flex justify-content-center mt-5">
                {{ form_row(form.save) }}
            </div>

        {{ form_end(form) }}

    </div>

{% endblock %}