{% extends 'base.html.twig' %}

{% block title %}Création d'un plat{% endblock %}


{% block body%}

    <div class="container">

        <h2 class="mt-4 d-flex justify-content-center">Création d'un plat</h2>

        {{ form_start(form) }}
            <div class="form-error">
                {{ form_errors(form) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plat_libelle) }}
                {{ form_widget(form.plat_libelle) }}
                <div class="form-error">
                    {{ form_errors(form.plat_libelle) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.plat_description) }}
                {{ form_widget(form.plat_description) }}
                <div class="form-error">
                    {{ form_errors(form.plat_description) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.plat_prix) }}
                {{ form_widget(form.plat_prix) }}
                <div class="form-error">
                    {{ form_errors(form.plat_prix) }}
                </div>
            </div>


            <div class="form-group">
                {{ form_label(form.plat_image) }}
                {{ form_widget(form.plat_image) }}
                <div class="form-error">
                    {{ form_errors(form.plat_image) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.plat_categorie) }}
                {{ form_widget(form.plat_categorie) }}
                <div class="form-error">
                    {{ form_errors(form.plat_categorie) }}
                </div>
            </div>

            <div class="form-group d-flex justify-content-center">
                {{ form_label(form.plat_active) }}
                {{ form_widget(form.plat_active) }}
                <div class="form-error">
                    {{ form_errors(form.plat_active) }}
                </div>
            </div>


            <div class="form-group d-flex justify-content-center mt-4">
                {{ form_row(form.save) }}
                <div class="d-flex justify-content-center mt-4 ms-5"><a href="{{ path('plat')}}" class="btn btn-secondary">Retour</a></div>
            </div>

        {{ form_end(form) }}

    </div>

{% endblock %}